@page "/animals"
@inject AnimalService animalService;

<h3>Animals</h3>
@if (animals == null)
{
    <p><em>Loading...</em></p>
}
else
{
@* 
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Race</th>
                <th>Producteur</th>
            </tr>
        </thead>
        <tbody> *@
    <div class="container-fluid" col-md-2>
        <div class="row">
            @foreach (var forecast in animals)
            {
            @*     <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.Race</td>
                    <td>@forecast.ProduteurName</td>
                   
                </tr> *@

                <div class="card" style="width: 18rem;">
                    <img src="./img/le-boeuf-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@forecast.Name</h5>
                        <p class="card-text">@forecast.Race</p>
                        <p class="card-text">@forecast.ProduteurName</p>
                        <a href="#" class="btn btn-primary">en voir plus </a>
                    </div>
                </div>
            }

            </div>
            </div>
    @*     </tbody>
    </table> *@
}

@code {
    List<Database.Entities.Animal> animals = new();
    protected override Task OnInitializedAsync()
    {
        animals = animalService.GetAnimals();

        return base.OnInitializedAsync();
    }
}
